html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background-image: url("imgweb/thebestis.png");
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 0;
  color: #FFFFFF; /* Blanco para el texto del banner */
}

#contenido1 {
  background-image: url("imgweb/fondoweb.png");
  height: 550px;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  color: #7A337A; /* Morado oscuro para el texto principal */
  padding: 20px 70px;
  font-family: sans-serif;
}

.titulo {
  font-size: 60px;
  text-align: center;
  margin: 10px 0;
  color: #FFFFFF; /* Blanco para el título */
  font-family: sans-serif;
}

.foto-izquierda {
  float: left;
  margin-right: 90px;
  margin-bottom: 15px;
  margin-left: 68px;
  width: 300px;
  height: auto;
}

.proyectos {
  display: flex;
  background-size: cover;
  background-position: center;
  gap: 25px;
  background-color: #5D3FD3; /* Morado vibrante para la sección de proyectos */
  font-family: sans-serif;
  padding: 40px 50px;
}

footer {
  background-color: #DDA0DD; /* Morado claro para el pie de página */
  height: 30px;
  color: #5D3FD3; /* Morado vibrante para el texto del pie de página */
  padding: 25px;
  text-align: center;
  font-family: sans-serif;
}